.label-input {
    width: 240px;
    height: 32px;
    background: white;
    position: relative;
    border: 1px solid #D3D7DE;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

input.input {
    width: 100%;
    background: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 32px;
    padding-right: 16px;
    font-size: 13px;
    font-weight: 400;
}

.input-icon {
    padding: 0 32px 0 16px !important;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
}

input[type="checkbox"] {
    cursor:pointer;
    outline:none;
}

.filter-content-child__checkbox-input {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 8px;
}

.label-input:hover {
    border-color: #0F2FBD;
}

.filter-content-child:hover {
    background: #F0F2F4;
    cursor: pointer;
}


/* content filter */
.filter-content-active {
    background-color: #F0F2F4;
}

textarea.textarea {
    width: 240px;
    height: 76px;
    resize: none;
    border: 1px solid #d3d7de;
    border-radius: 4px;
    outline: none;
    padding: 8px 16px;
    box-sizing: border-box;
}