.toolbar{
    grid-column: 1/13;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#E2E4E9;
    border-bottom: 1px solid #D3D7DE;
    border-top: 1px solid #D3D7DE;
}

.toolbar-right.toolbar-child {
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.toolbar-right.toolbar-child>div:not(:last-child) {
    margin-right: 8px;
}

.toolbar-left__child {
    display: flex;
    align-items: center;
    justify-content: center;
}